# Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.userprefs

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/

# .NET
project.lock.json
artifacts/
*.binlog

# MAUI / Android
*.apk
*.aab
*.keystore
*.jks

# macOS
.DS_Store
